/* Estilo para el encabezado */
h1 {
    text-align: center;
    color: #0078D4;
}

/* Estilo para etiquetas de formulario */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo para campos de entrada de texto */
input[type="text"],
input[type="email"] {
    width: 45%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el campo de teléfono */
/*input[type="text"]#telefono {
    /* Agregar estilos específicos para el campo de teléfono si es necesario */
/*}

/* Estilo para selectores (lista de países, estados, instituciones) */
select {
    width: 45%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón de envío */
button {
    background-color: #0078D4;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo para los mensajes de error */
.alert {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
/* estilos.css */
.address {
    font-size: 18px;
    font-weight: bold;
}

.address p {
    margin-bottom: 10px;
}

.address br {
    display: none;
}



